//VARS: Typography
$headline: 'Nunito', Arial, Helvetica, sans-serif;
$subhead: 'Merriweather Sans', Arial, Helvetica, sans-serif;
$body: 'Merriweather', Georgia, 'Times New Roman', serif;

//VARS: Colors
$primary: #2B222C;
$secondary: #965D62;
$tertiary: #F6E7F7;
$neutral: #4B4B55;

//Resets
body {
    background: $neutral;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

//Basic styles
h1, h2, h3, h4, h5 {
    font-family: $headline;
    margin: 0;
}

p, ul, ol {
    font-family: $body;
    margin: 0;
}

h1 {
    color: $secondary;
    font-size: 2.5rem;
}

//Layout
header {
    background: $primary;
    padding: 2rem;

    p {
        color: $tertiary;
        font-size: 1.25rem;
        line-height: 55px;
    }

    .tag {
        color: $secondary;
    }
}

.container {
    width: 85%;
    margin: 0 auto;
}

#content {
    background: $tertiary;
    padding: 2rem;

    p {
        color: $primary;
        margin-bottom: 1rem;
        line-height: 28px;
    }

    .type {
        padding-bottom: 2rem;
    }

    .date {
        color: $neutral;
        font-family: $headline;
        font-weight: 300;
        text-transform: uppercase;
    }

    .read-more {
        margin: 0;
        a:link, a:visited {
            color: $secondary;
            font-family: $headline;
            text-decoration: none;
        }

        a:hover {
            color: $neutral;
        }
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    h3 {
        font-family: $body;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        a:link, a:visited {
            color: $secondary;
            text-decoration: none;
        }

        a:hover {
            color: $primary;
        }
    }

    h4 {
        color: $neutral;
        font-family: $headline;
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    h5 {
        font-size: 1.5rem;
        margin-bottom: 2rem;

        a:link, a:visited {
            color: $neutral;
            text-decoration: none;
        }

        a:hover {
            color: $secondary;
        }
    }

    pre {
        background: $neutral;
        border-radius: 5px;
        color: $tertiary;
        padding: 1rem;
        white-space: pre-wrap;
    }

    a:link, a:visited {
        color: $secondary;
    }

    a:hover {
        color: $neutral;
    }

    ul, ol {
        list-style-type: disc;
        margin: 0 0 1rem 1rem;

        li {
            color: $primary;
            margin-bottom: .5rem;
        }
    }

    ol {
        margin-bottom: .5rem;
    }

    img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
}

footer {
    padding: 2rem;
    p {
        font-family: $body;
        color: $tertiary;
        margin-bottom: 1rem;
        text-align: center;
    }

    .links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        a:link, a:visited {
            border-bottom: 2px solid $secondary;
            color: $secondary;
            text-decoration: none;
            margin: 0 5px;
        }

        a:hover {
            color: $tertiary;
            border-bottom: 2px solid $tertiary;
        }
    }
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 15%;
}

@media screen and (min-width: 800px) {

    h1 {
        font-size: 3rem;
    }

    header {
        p {
            font-size: 2rem;
        }
    }

    .container {
        width: 50%;
        margin: 0 auto;
    }
}