/*! Copyright 2007-2009,2017-2018 Daniel F. Dickinson <cshored@cshore.theshore.com>
 *  Release under the Creative Commons BY (Attribution) 4.0 License
*/
/*  OldNew Mashup default colour settings */

/* grey background for all elements, by default */
#all { background-color: #bbbbbb; }

body {
    background-color : #bbbbbb;
    /* grey background */

    color : #000020;
    /* Blue font */

    background-image : url("/images/default_background.png");
/* This file contains background image url; CSS2 starts from directory of the .css */
}

/* Change the colour links to match our colour scheme */
a:link {
    color : #0000ff;
/* bright blue font (links) */
}

a:Visited {
    color : #772277;
/* purple font (visited links) */
}

a:Active, a:Hover  {
    color : #ff0000; /* red font (hover/active links) */
    background-color : #888888; /* light gray background */
}

pre {
    background-color : #777777;
    /* Light grey */
}

* {
  box-sizing: border-box;
}
