{{ $curPage := . }}
{{ $curPage.Scratch.Set "lnfpNextPage" nil }}
{{ $curPage.Scratch.Set "lnfpFoundPage" false }}
{{ $curPage.Scratch.Set "lnfpCurPage" . }}
{{ if .PrevInSection }}
  <a href="{{ .PrevInSection.URL | relURL }}">Next</a>
{{ else if .Parent }}
  {{ with $curPage }}
    <!-- If we were a data page (sibling) -->
    {{ if .IsPage }}
       <!-- if we have no more sibling data pages (hence
            no .PrevInSection) -->
      {{ if .Parent.Sections }}
        <!-- if there are sibling sections -->
        {{ range (first 1 .Parent.Sections) }}
          <!-- start with the first sibling section -->
          <a href="{{ .URL | relURL }}">Next</a>
        {{ end }}
      {{ else }}
        <!-- no sibling sections so check parent -->
        {{ .Parent.Scratch.Set "lnfpCurPage" .Parent }}
        {{ partial "localnav-leafpagenextsection" .Parent }}
      {{ end }}
    {{ else }}
      <!-- we are a section so we need find first sub (if exists)
      or next section or we're a leaf section -->
      {{ if .Data.Pages }}
        {{ range (first 1 .Data.Pages) }}
          <a href="{{ .URL | relURL }}">Next</a>
        {{ end }}
      {{ else if .Sections }}
        {{ range (first 1 .Sections) }}
          <a href="{{ .URL | relURL }}">Next</a>
        {{ end }}
      {{ else }}
        <!-- find next section or whether we're a leaf section -->
        {{ range (last 1 .Parent.Sections) }}
          {{ if eq . $curPage }}
            <!-- We're the last section in parent's sections,
                 so we're a leaf section -->
            {{ if .Parent.Parent }}
              {{ .Parent.Scratch.Set "lnfpCurPage" .Parent }}
              {{ partial "localnav-findnextsection"  .Parent }}
            {{ else }}
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{ end }}
          {{ else }}
            <!-- Let's find the next section in our parent -->
            {{ $curPage.Scratch.Set "lnfpCurPage" $curPage }}
            {{ partial "localnav-findnextsection"  $curPage }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
NoParent
{{ end }}
{{ $curPage.Scratch.Delete "lnfpNextPage" }}
{{ $curPage.Scratch.Delete "lnfpFoundPage" }}
{{ $curPage.Scratch.Delete "lnfpCurPage" }}
