{{ $curPage := . }}
{{ if .Parent }}
  {{ with .Parent }}
    {{ $curPage.Scratch.Set "lnfpCurPage" nil }}
    {{ $curPage.Scratch.Set "lnfpPrevPage" nil }}
    {{ $curPage.Scratch.Set "lnfpFoundPage" false }}
    {{ $parentPage := . }}
    {{ range .Sections }}
      {{ $curSection := . }}
      {{ $curPage.Scratch.Set "lnfpPrevPage" ($curPage.Scratch.Get "lnfpCurPage") }}
      {{ if eq $curPage $curSection }}
        {{ $curPage.Scratch.Set "lnfpFoundPage" true }}
      {{ else if not ($curPage.Scratch.Get "lnfpFoundPage") }}
        {{ $curPage.Scratch.Set "lnfpCurPage" $curSection }}
      {{ end }}
    {{ end }}
    {{ $curPage.Scratch.Delete "lnfpCurPage" }}
    {{ $foundPage := ($curPage.Scratch.Get "lnfpFoundPage") }}
    {{ if and $foundPage ($curPage.Scratch.Get "lnfpPrevPage") }}
      {{ $prevPage := $curPage.Scratch.Get "lnfpPrevPage" }}
      {{ partial "localnav-findlastinsection" $prevPage }}
    {{ else }}
      {{ if eq . $parentPage }}
        {{ if .Parent }}
          <a href="{{ .Parent.URL | relURL }}">Prev</a>
        {{ else }}
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {{ end }}
      {{ else }}
        <a href="{{ .URL | relURL }}">Prev</a>
      {{ end }}
    {{ end }}
    {{ $curPage.Scratch.Delete "lnfpFoundPage" }}
    {{ $curPage.Scratch.Delete "lnfpPrevPage" }}
  {{ end }}
{{ else }}
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
{{ end }}
