{{ $curCtx := . }}
{{ $curPage := .Scratch.Get "lnfpCurPage" }}
{{ $curPage.Scratch.Set "lnfpNextPage" nil }}
{{ $curPage.Scratch.Set "lnfpFoundPage" false }}
{{ if .Parent }}
  {{ with .Parent }}
     <!-- find next section or whether we're a leaf section -->
     {{ range (last 1 .Sections) }}
       {{ if eq . $curPage }}
       <!-- We're the last section in parent's sections,
          so we're a leaf section -->
        {{ if .Parent }}
          <!-- We need to go up another level -->
          {{ .Scratch.Set "lnfpCurPage" . }}
          {{ partial "localnav-findnextsection" . }}
        {{ else }}
          <!-- If there is no higher level then we are done -->
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {{ end }}
      {{ else }}
        <!-- Let's find the next section in our parent -->
        {{ $curPage.Scratch.Set "lnfpCurPage" $curPage }}
        {{ partial "localnav-findnextsection"  $curPage }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
{{ end }}
{{ $curPage.Scratch.Delete "lnfpNextPage" }}
{{ $curPage.Scratch.Delete "lnfpFoundPage" }}
