      <section class="RightSidebar">
        {{ partial "localnav-bar" .Page }}
        {{ if and (gt .WordCount 400) (ne .Params.toc "false") }}<section class="TableOfContents">{{ .TableOfContents }}</section>{{ end }}
        {{ partial "sidebar-menu" . }}
        {{ if not (or .Params.norsummary .Site.Params.norsummary) }}
          <section class="PageSummaries">
          <h1 class="SidebarTitle">Recent Changes</h1>
          {{ range first 8 .Site.Pages.ByLastmod.Reverse }}
            {{ .Render "summary" }}
           {{ end }}
          </section>
        {{ end }}
      </section>
