{{ define "main" }}
<header>
    <div class="container">
        <h1>{{.Site.Title}}</h1>
        {{if (isset .Site.Params "description")}}
            <p>{{.Site.Params.Description}}</p>
        {{else}}
            <p>Welcome to my blog!</p>
        {{end}}
    </div>
</header>

<section id="content">
    {{ range (.Pages.GroupBy "Section").Reverse }}
    <div class="container">
        <div class="type">
            <h2>{{.Key | upper}}</h2>
            {{ range first 3 .Pages }}
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p class="date">{{ .Date.Format "Jan 2, 2006" }}</p>
                <p>{{ .Description }}</p>
            {{ end }}

            {{ if ne .Key ""}}
                <p class="read-more"><a href="/{{.Key}}">More >></a></p>
            {{ end }}
        </div>
    </div>
    {{ end }}
</section>
{{ end }}