{{- $slides := .Site.Data.slides -}}
{{- range $slides -}}
<section class="{{- .backgroundColor -}}">
  <div class="container">
    <div>
      <h2 class="font-weight-bold">
        {{- .heading -}}
      </h2>
      <p>{{- .description -}}</p>
    </div>
    <div class="device-mockup-holder">
        <picture>
          <div class="phone-illustration-holder">
            <img src="{{- .Site.BaseURL -}}img/device-frame.svg" alt="">
            <div class="product-image">
              <img src="{{- .Site.BaseURL -}}img/screenshots/{{- .screenshot -}}" alt="">
            </div>
          </div>
        </picture>
      </div>
  </div>
</section>
{{- end -}}
   