{{ define "title" }}
  {{.Title}}
{{ end }}
{{ define "bodytag" }}
  <body>
{{ end }}
{{ define "header" }}
  <div class="Homepage">
    <!-- Copyright 2018 Daniel F. Dickinson
         Release under the Creative Commons BY (Attribution) 4.0 License -->
    {{ partial "header" . }}
{{ end }}
{{ define "main" }}
    <main class="MainContent">
      <h1 class="Title">{{if not .Page.Title}}{{.Site.Title}}{{else}}{{.Page.Title}}{{end}}</h1>
      <div class="Taglines">
        <h2 class="Oneliner">{{.Page.Params.oneliner}}</h2>
        <h3 class="Subliner">{{.Page.Params.subliner}}</h3>
        <a class="EnterButton" href="{{ "/siteentry/" | absURL }}">Enter Site</a>
      </div>
      <aside class="Aside">
        {{ markdownify .Page.Params.aside}}
      </aside>
      <section class="Splash">
        {{ partial "splash-screenshots.html" . }}
      </section>
      <aside class="AsideFooter">
        {{ markdownify .Page.Params.asidefooter }}
      </aside>
    </main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer.html" . }}
</div>
{{ end }}
